body {
    font-family: sans-serif;
    background-color: rgb(250, 255, 207);
}

header {
    background-color: lightskyblue;
    padding: 20px;
}

.link-header {
    color: white;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 8px;
    background-color: blue;
}

h1 {
    text-align: center;
}

.link-header:hover {
    background-color: aquamarine;
    color:black;
}

.text-big {
    text-align: center;
}

.link-text:hover {
    color:lightcoral;
}

.computer {
    margin-top:10px;
}

.link-navleft {
    text-decoration: none;
    padding: 10px;
}

.link-navright {
    text-decoration: none;
    padding: 10px;
}

li:hover {
    font-size: 20px;

}

.mail::before {
    content: "";
    display: inline-block;
    width: 25px;  
    height: 25px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPlSgp_03yBKgTIcVKIHMkCl6UMlWL-b9z1g&s");
    background-size: contain; 
    background-repeat: no-repeat;
    margin-right: 5px;
}


.bike {
    margin-top: 20px;
    border:4px solid black;
}

.island {
    border:4px solid black;
}
